:root{
  font-size: 14px;
  font-family: sans-serif;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-section{
  display: block;
  margin: auto;
  width: 350px;
  border: 1px solid red;
}
h1,
p{
  text-align: center;
  padding: 0 1rem;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* flex-wrap: nowrap; */
  max-width: 300px;
  min-height: 300px;
  padding: 1em;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #eee;
  
} 
fieldset{
  position: relative;
  width: 100%;
  border: none;
}

.first-name,
.last-name{
   width: 45%;
}
.last-name{
  position: absolute;
  right: 0;
}
input,
button,
h1{
  padding: 0.5rem;
  text-transform: capitalize;
}