:root{
  font-size: 14px;
  font-family: sans-serif;
}
*{
  box-sizing: border-box;
  
}

.form-section{
  display: block;
  margin: auto;
  width: 350px;
  border: 1px solid red;
}
h1,
p{
  text-align: center;
  padding: 0 1rem;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 300px;
  min-height: 300px;
  padding: 1em;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #eee;
  font-family: sans-serif;
} 
input,
button,
h1{
  text-transform: capitalize;
}